<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="right">

      <div class="row valign-wrapper">
      <% if current_user %>
      <div class="col s4">
      <img class="circle responsive-img" src="<%=current_user.gravatar%>"/>
      </div>
        <span class="user-profile"><%= link_to current_user.full_name, "/profile"%></span>
        <%= link_to "logout", destroy_user_session_path, method: "DELETE" %>
      <% else %>
      <span class="user-profile"><%= link_to "login", new_user_session_path %>
      <%= link_to "signup", new_user_registration_path %></span>

      <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
  </body>
</html>
